@mixin font($weight: normal, $sizes: 16px, $line: 19px, $style: normal, $family: Lato) {
    font: {
        style: $style;
        family: $family;
        size: $sizes;
        weight: $weight;
    }
    line-height: $line;
}

$transition-scale-delay: 0.3s;
$transition-translate-delay: 0.7s;

.carousel-main {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    > .pre-body {
        .arrow-left {
            @extend .arrow;
            margin-left: -45px;
            z-index: 2;
            border-right: 15px solid white;
        }

        .arrow-right {
            @extend .arrow;
            z-index: 2;
            margin-left: 220px;
            border-left: 15px solid white;
        }

        > .body-number {
            position: relative;
            z-index: 1;
            &.select {
                transform: scale(1.2);

                transition: transform $transition-scale-delay ease, -webkit-transform $transition-scale-delay ease,
                    -moz-transform $transition-scale-delay ease, background-color $transition-scale-delay ease;
            }

            &.unpicked {
                transform: scale(1);
                z-index: 0;
                transition: transform $transition-scale-delay ease, -webkit-transform $transition-scale-delay ease,
                    -moz-transform $transition-scale-delay ease;
            }

            > {
                .number {
                    width: 190px;
                    height: 170px;
                    opacity: 1;
                    border-radius: 2px;
                    box-shadow: 8px 4px 8px rgba(44, 44, 44, 0.161);
                    position: relative;
                    background-color: blue;
                    color: white;
                    @include font(bold, 48px, 40px);
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    z-index: 0;
                    
                    &.par {
                        background-color: black;
                    }

                    &.trans {
                        transition: transform 0.8s ease, -webkit-transform 0.8s ease, -moz-transform 0.8s ease;
                    }

                    &.last-numbers {
                        opacity: 0.7;
                        scale: 0.9;
                        &.left {
                            margin-right: -15px;
                        }
                        &.right {
                            margin-left: -16px;
                        }
                    }
                    &.pre-last-numbers {
                        opacity: 0.8;
                        scale: 0.94;
                        &.left {
                            margin-right: -6px;
                        }
                        &.right {
                            margin-left: -6px;
                        }
                    }
                }
            }
        }
    }
}

.arrow {
    width: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    margin-top: 60px;
    height: 0;
    position: absolute;
    cursor: pointer;
}
